@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

:root
{
    /* Paleta de cores */

    --Cor-1: #400101;
    --Cor-2: #590202;
    --Cor-3: #8C0303;
    --Cor-4: #BF0404;
    --Cor-5: #FFFF;
    --Cor-6: #F2F2F2;

    /* Tipos de Fontes */

    --Font-weight-1: 100; 
    --Font-weight-2: 300;
    --Font-weight-3: 400;
    --Font-weight-4: 700;
    --Font-weight-5: 900;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* ~-~-~-~-~- NAVBAR ~-~-~-~-~- */

nav
{
    width: 100%;
    height: 70px;
    background: #3d040a;
}

nav .nav-logo
{
    width: 170px;
    float: right;
    margin-right: 30px;
}

nav .side-bar 
{
    /*background: rgba(255, 255, 255, 0.1);*/
    /*backdrop-filter: blur(15px);*/
    background-color: #3d040a;
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.8s ease;
    transition-property: left;
}

nav.side-bar::-webkit-scrollbar
{
    display: none;
}

nav .side-bar.active 
{
    left: 0;
    transition: 0.8s;
    z-index: 20;
}

nav .side-bar .menu 
{
    width: 100%;
    margin-top: 80px;
}

nav .side-bar .menu .item 
{
    position: relative;
    cursor: pointer;
}

nav .side-bar .menu .item a 
{
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

nav .side-bar .menu .item a:hover 
{
    color: rgb(255, 255, 255);
    background: #220205;
    transition: 0.5s ease;
}

nav .side-bar .menu .item i 
{
    margin-right: 15px;
}

nav .side-bar .menu .item a .dropdown 
{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.5s ease;
}

nav .side-bar .menu .item .sub-menu 
{
    background: rgba(255, 255, 255, 0.1);
}

nav .side-bar .menu .item .sub-menu a 
{
    padding-left: 80px;
}

nav .rotate 
{
    transform: rotate(90deg);
}

nav .close-btn 
{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
}

nav .menu-btn 
{
    top: -4px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}


/* -~-~-~-~-~-~-~-~-~-~ FORM CADASTRO HEMOCENTRO -~-~-~-~-~-~-~-~-~-~ */

.HemocentroCadastro
{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Poppins',sans-serif;
    z-index: 9;
}

.HemocentroCadastro::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.HemocentroCadastro-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    max-width: 1400px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    margin: 0 20px;
}

.HemocentroCadastro-container .HemocentroCadastro-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
}

.HemocentroCadastro-content .image-box
{
    max-width: 55%;
}

.HemocentroCadastro-content .image-box img
{
    width: 90%;
    padding: 20px;
    margin-left: 20px;
}

.HemocentroCadastro-content .topic
{
    font-size: 22px;
    font-weight: 500;
    color: var(--Cor-4);
}

.HemocentroCadastro-content form
{
    width: 40%;
    margin-right: 30px;
}

.HemocentroCadastro-content .input-box
{
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
}

.HemocentroCadastro-content .input-box input
{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: var(--Cor-6);
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.HemocentroCadastro-content .input-box input:focus,
.HemocentroCadastro-content .input-box input:valid
{
    border-color: var(--Cor-4);
    background-color: #fff;
}

.HemocentroCadastro-content .input-box label
{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #636c72;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.HemocentroCadastro-content .input-box input:focus ~ label,
.HemocentroCadastro-content .input-box input:valid ~ label
{
    top: 0;
    left: 12px;
    padding: 0 3px;
    display: 14px;
    color: var(--Cor-4);
    background: #fff;
}

.HemocentroCadastro-content .message-box
{
    
    min-height: 100px;
    position: relative;
}

.HemocentroCadastro-content .message-box input
{
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background: var(--Cor-6);
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.HemocentroCadastro-content .message-box input:focus
{
    border-color: var(--Cor-4);
    background-color: #fff;
}

.HemocentroCadastro-content .message-box input::placeholder
{
    font-size: 16px;
    padding-left: 5px;
}

.HemocentroCadastro-content .message-box label
{
    position: absolute;
    font-size: 16px;
    color: #636c72;
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.HemocentroCadastro-content .message-box input:focus ~ label
{
    left: 12px;
    top: -10px;
    color: var(--Cor-4);
    font-size: 14px;
    background: #fff;
}

.HemocentroCadastro-content .input-box input[type="submit"]
{
    color: #fff;
    background: var(--Cor-4);
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.HemocentroCadastro-content .input-box input[type="submit"]:hover
{
    background-color: var(--Cor-3);
    border: var(--Cor-3);
}

.form-card-title
{
    margin: 100px 0px 50px 0px;
    text-align: center;
    color: var(--Cor-2);
}

.form-card-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.form-card
{
    background: var(--Cor-4);
    width: 500px;
    height: 480px;
    margin: 20px;
    box-shadow: 11px 8px 0px #79c9db;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
}

.form-card h4
{
    font-size: 18px;
}

.form-card hr
{
    color: var(--Cor-1);
}

.empty-form
{
    text-align: center;
    color: var(--Cor-2);
}

.empty-form i
{
    color: var(--Cor-2);
    margin-top: 30px;
    font-size: 80px;
    margin-bottom: 40px;
}

.endereco-flex
{
    display: flex;
}

.input-box.numeroHemo 
{
    width: 30%;
    margin-left: 10px;
    margin-top: 0;
}

.input-box.ruaHemo 
{
    margin-top: 0px !important;
}

/* -~-~-~-~-~-~-~-~-~-~ Estilo do Input File -~-~-~-~-~-~-~-~-~-~ */

input[type="file"] {
    display: none;
}

.input-file{
    margin: auto;
    padding: 15px 20px;
    width: 100%;
    background-color: #BF0404;
    border-radius: 5px;
    color: #FFF;
    display: block;
    margin-top: 12px;
    cursor: pointer;
    justify-items: center;
    transition: 0.5s ease;
}

.label-hemo{
    background: #BF0404;
    height: 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: 0.5s ease;
}

/* -~-~-~-~-~-~-~-~-~-~ PÁGINA SUCESSO CADASTRO HEMOCENTRO -~-~-~-~-~-~-~-~-~-~ */

.sucess-form-hemo 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background: var(--Cor-2);
    color: white;
}

.sucess-form-hemo img 
{
    width: 400px;
}

.sucess-form-hemo .Text
{
    margin: 50px;
}

/* -~-~-~-~-~-~-~-~-~-~ CARDS DOS HEMOCENTROS -~-~-~-~-~-~-~-~-~-~ */

.flex-box-card-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card-hemo
{
    text-align: center;
    background: #FFF;
    width: 370px;
    margin: 20px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
}

.card-hemo img
{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 200px;
    width: 330px;
}

h2.title 
{
    margin: 10px;
    font-size: 22px;
    font-weight: 500;
}

.icon-flex-cards
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px 0px 0px 0px;
}

.icon-flex-cards i
{
    margin-right: 10px;
    color: var(--Cor-3);
}

.icon-flex-cards span 
{
    margin-right: 6px;
    font-weight: 600;
}

.card-hemo .card-btn
{
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: var(--Cor-3);
    color: white;
    transition: 0.5s ease;
}

.card-hemo button:hover
{
    background-color: var(--Cor-2);
}

button.card-btn.edit-btn
{
    cursor: pointer;
    background-color: #ffb407;
    transition: 0.5s ease;
}

button.card-btn.delete-btn
{
    background-color: #4e0000;
}

button.card-btn.delete-btn:hover
{
    background-color: #300000;
}

button.card-btn.delete-btn a
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

button.card-btn.edit-btn:hover
{
    background-color: #ffc94b;
}

button.card-btn.edit-btn a
{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.edit-icon 
{
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

i.fa-solid.fa-trash.delete-icon 
{
    margin-right: 10px;
}



/* -=-=-=-=-=-=-=-=-=-= TELA DO HEMOCENTRO APOS CLICAR NO CARD -=-=-=-=-=-=-=-=-=-= */

.hemo-container 
{
    margin: 0px 50px;
}

.first-hemo-section 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.first-hemo-section .img-content 
{
    width: 800px;
}

.first-hemo-section .img-content img
{
    width: 100%;
}

.description-content 
{
    width: 600px;
    margin-left: 80px;
}

.description-content h1 
{
    margin-bottom: 30px;
}

.description-content button 
{
    margin-top: 10px;
    border: none;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    background: #51060E;
    color: white;
    font-weight: 500;
    transition: 1s ease;
}

.description-content button:hover
{
    background-color: #220205;
}

.informations-hemo 
{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 25px 0px;
}

.informations-hemo span
{
    font-weight: 700;
}

.informations-hemo p
{
    margin: 0px;
}

.informations-hemo i
{
    font-size: 30px;
    color: #51060e;
    margin-right: 15px;
}

section.hemo-desc 
{
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    max-width: 1480px;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 900px)
{
    .first-hemo-section 
    {
        flex-direction: column;
    }

    .first-hemo-section .img-content 
    {
        width: 100%;
    }

    .description-content
    {
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
    }
}

/* -------------------- ESTOQUE HEMOCENTRO -------------------- */

/* ANIMAÇÃO DO SANGUE */

.water 
{
    width: 120px;
    height: 150px;
    border-radius: 5px 5px 20px 20px;
    background-color: #940101;
    position: relative;
    overflow: hidden;
}

.water::after 
{
    content: "";
    position: absolute;
    width: 450px;
    height: 450px;
    top: -415px;
    left: -150px;
    background-color: #fff;
}

.water::after 
{
    border-radius: 38%;
    background: rgb(255, 255, 255);
    animation: wave 8s linear infinite;
}

@keyframes wave 
{
    0% 
    {
        transform: rotate(0);
    }

    100% 
    {
        transform: rotate(360deg);
    }
}

/* CARDS DO ESTOQUE DE SANGUE */

.estoque-container 
{
    max-width: 800px;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}

.estoque-content 
{
    display: flex;
    justify-content: center;
}

.cards-sang-estoque 
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
}

.sang-card 
{
    width: 100px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}

.water 
{
    width: 100px;
    height: 140px;
    border-radius: 5px 5px 20px 20px;
    background-color: #940101;
    position: relative;
    overflow: hidden;
    border: 1px solid #CCC;
}

.text-estoque
{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.Title-estoque 
{
    padding-left: 15px;

}

.Title-estoque h1
{
    color: #400101;
}

.Title-estoque.orientacoes
{
    padding: 0px;
    text-align: center;
}

.orientacao-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
    border-left: 1px solid #9f9d9d;
    padding-left: 25px;
}

.water.estavel::after
{
    top: -451px;
}

.water.alerta::after
{
    top: -415px;
}

.water.critico::after 
{
    top: -377px;
}



/* -~-~-~-~-~-~-~-~-~-~ Responsive -~-~-~-~-~-~-~-~-~-~ */


/* -------------------- RESPONSIVIDADE FORMULÁRIO HEMOCENTRO -------------------- */
@media (max-width:1000px) 
{
    .HemocentroCadastro-content .image-box
    {
        max-width: 60%;
    }
    .HemocentroCadastro-content
    {
        padding: 10px 0;
    }
}

@media (max-width:900px) 
{
    .HemocentroCadastro-container .HemocentroCadastro-content
    {
        width: 100%;
    }

    .HemocentroCadastro-content .image-box
    {
        display: none;
    }

    .HemocentroCadastro-content form
    {
        width: 100%;
        margin-left: 30px;
    }

    /* RESPONSIVIDADE ESTOQUE DE SANGUE */

    .estoque-content 
    {
        display: block;
        justify-content: center;
    }

    .Title-estoque 
    {
        padding-left: 15px;
        text-align: center;
    }

    .cards-sang-estoque 
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 500px;
        margin: auto;
        justify-content: center;
    }

    .orientacao-container 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }

    .orientacao-content 
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 500px;
        justify-content: center;
    }
}

@media (max-width: 600px)
{
    .endereco-flex
    {
        display: block;
    }

    .input-box.numeroHemo 
    {
        width: 100%;
        margin-left: 0px;
    }
}

/* -------------------- FIM RESPONSIVIDADE FORMULÁRIO HEMOCENTRO -------------------- */